<div>
    <h2>Free, No Ads</h2>
    <p>This web application was created by Nathan Sutcliffe as a professional development project.
        The code was built to scale up, but the pricing model (free, no ads) was not!
        If people actually use this thing, the availability and/or pricing model may change.</p>
</div>
<div class="well">
    <h2>Technology</h2>
    <p>Built with the <a href="http://meanjs.org/">MEAN.JS</a> template, starring:</p>
    <ul>
        <li><a href="http://www.mongodb.org/">MongoDB</a></li>
        <li><a href="http://expressjs.com/">Express</a></li>
        <li><a href="https://angularjs.org/">Angular</a></li>
        <li><a href="http://nodejs.org/">Node.js</a></li>
    </ul>
    <p>Also featuring:</p>
    <ul>
        <li><a href="http://passportjs.org/">Passport</a></li>
        <li><a href="http://adilapapaya.com/docs/nodemailer/">Nodemailer</a></li>
    </ul>
    <p>Powered by:</p>
    <ul>
        <li><a href="https://www.heroku.com/">Heroku</a></li>
        <li><a href="https://mongolab.com/">MongoLab</a></li>
        <li><a href="http://www.mailgun.com/">Mailgun</a></li>
    </ul>
    <p>Code <a href="https://github.com/nsutclif/IPTracker">available on GitHub</a></p>
</div>
