<section data-ng-controller="IpthostsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>Settings for {{ipthost.name}}</h1>
    </div>
    <div class="col-md-12">
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="ipthost.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="alertOnChange">Send Email when IP Address Changes</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="ipthost.alertOnChange" id="alertOnChange" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="alertOnTimeout">Send Email when IP Address doesn't get Updated for a While</label>
                    <div class="controls">
                        <input type="checkbox" data-ng-model="ipthost.alertOnTimeout" id="alertOnTimeout" class="form-control">
                    </div>
                </div>
                <div class="form-group" data-ng-show="ipthost.alertOnTimeout">
                    <label class="control-label" for="alertTimeoutMinutes">Timeout (Minutes)</label>
                    <div class="controls">
                        <input type="number" min="15" max="1440" data-ng-model="ipthost.alertTimeoutMinutes" id="alertTimeoutMinutes" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-primary">
                    <input type="button" value="Delete" class="btn btn-danger" data-ng-click="remove();">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
    <div>
        <div class="page-header">
            <h1>Details</h1>
        </div>
        <div>Current IP: {{ipthost.lastEventIP}}</div>
        <div>Last Updated: {{getLocalDateTime(ipthost)}}</div>
        <div>Update URL:</div>
        <div>{{getUpdateURL(ipthost)}}</div>
    </div>
</section>
