<section data-ng-controller="IpthostsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Hosts</h1>
    </div>
    <table class="table">
        <tr data-ng-repeat="ipthost in ipthosts">
            <td>
                <a data-ng-href="#!/ipthosts/{{ipthost._id}}"><h4 data-ng-bind="ipthost.name"></h4></a>
            </td>
            <td>
                <span data-ng-bind="ipthost.lastEventIP"></span>
            </td>
            <td>
                <span data-ng-bind="ipthost.lastEventTime"></span>
            </td>
        </tr>
    </table>
    <div class="alert alert-warning text-center" data-ng-hide="!ipthosts.$resolved || ipthosts.length">
    	No hosts yet, why don't you <a href="/#!/ipthosts/create">add one</a>?
    </div>
</section>
