<section data-ng-controller="IpthostsController" data-ng-init="find()">
    <div class="page-header">
        <h1>Hosts</h1>
    </div>
    <table class="table">
        <tr data-ng-repeat="ipthost in ipthosts"
            ng-class="{'underTimeoutClass':isUnderTimeout(ipthost), 'overTimeoutClass':isOverTimeout(ipthost)}">
            <td>
                <a data-ng-href="#!/ipthosts/{{ipthost._id}}/edit">{{ipthost.name}}</a>
            </td>
            <td>
                {{ipthost.lastEventIP}}
            </td>
            <td>
                {{getLocalDateTime(ipthost)}}
            </td>
        </tr>
    </table>
    <a class="btn btn-default" href="/#!/ipthosts/create">New</a>
</section>
